<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<h1>Корзина</h1>
<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Общая стоимость</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.book.title}"></td>
        <td th:text="${item.book.author}"></td>
        <td th:text="${item.book.price}"></td>
        <td th:text="${item.quantity}"></td>
        <td>
            <form th:action="@{/cart/remove/}" method="post">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h2>Общая стоимость: <span th:text="${total}"></span></h2>

<a href="/">Продолжить покупки</a>
</body>
</html>